.toDoItem {
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px black;
    
  &__iconCheck {
    position: absolute;
    left: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;

    &--active {
      color: rgb(131, 224, 131);
    }
  }

  &__text {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  &__complete {
    text-decoration: line-through;
  }

  &__iconDelete {
    position: absolute;
    right: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
  }
}

.toDoItem__iconDelete:hover {
  color: red;
}

.fa-solid .fa-check{
  width: 50px;
    height: 50px;
    color: black;
}

.icon-svg-delete{
  width: 50px;
  height: 50px;
  color: gray;
}

.icon-svg-delete:hover{
  color: red;
}